@page
@model Zero.Pages.Dec19Payrolls.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dec19 Payroll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dec19Payroll.EmployeeID" />
            <div class="form-group">
                <label asp-for="Dec19Payroll.Deduction" class="control-label"></label>
                <input asp-for="Dec19Payroll.Deduction" class="form-control" />
                <span asp-validation-for="Dec19Payroll.Deduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dec19Payroll.OvertimeHours" class="control-label"></label>
                <input asp-for="Dec19Payroll.OvertimeHours" class="form-control" />
                <span asp-validation-for="Dec19Payroll.OvertimeHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dec19Payroll.Bonus" class="control-label"></label>
                <input asp-for="Dec19Payroll.Bonus" class="form-control" />
                <span asp-validation-for="Dec19Payroll.Bonus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
