@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Active"] = "Home";
}

<div class="jumbotron">
    <center><h1>@*Welcome to the <br />*@<b>Zero Gravity Multimedia and IT Solutions</b>@*<br />database system*@</h1></center>
</div>
<div class="row">
    <div class="col-md-10">
        <h2>Welcome to the Zero Gravity web-based database system!</h2>
        <p>

        </p>
    </div>
  @* <div class="col-md-4">
        <p>
            User Roles:<br />
            ADMIN: Can read, edit, and delete any and all data.<br />
            MODERATOR: Can read, edit, and delete only their own data, cannot edit or delete data which they did not create.
           
        </p>
    </div> *@
    <div class="col-md-2">

        @* <p>An ASP.NET Core Razor Pages web app using Entity Framework Core.</p> *@
        <p>
            <a class="btn btn-default"
               href="https://www.0g.ae/">
                Visit our Website &raquo;
            </a>
        </p>
    </div>
</div>