@page
@model Zero.Pages.PaymentInvoices.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Payment Invoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PaymentInvoice.PaymentInvoiceID" />
            @*   <div class="form-group">
                    <label asp-for="PaymentInvoice.Reciever" class="control-label"></label>
                    <input asp-for="PaymentInvoice.Reciever" class="form-control" />
                    <span asp-validation-for="PaymentInvoice.Reciever" class="text-danger"></span>
                </div> *@

            <div class="form-group">
                <label asp-for="PaymentInvoice.BankAccount" class="control-label"></label>
                <input asp-for="PaymentInvoice.BankAccount" class="form-control" />
                <span asp-validation-for="PaymentInvoice.BankAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentInvoice.Amount" class="control-label"></label>
                <input asp-for="PaymentInvoice.Amount" class="form-control" />
                <span asp-validation-for="PaymentInvoice.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
